#admin-main {
  margin: 32px auto;
  max-width: 760px;

  .hide {
    display: none;
  }

  .form-group {
    > span:first-child {
      display: block;
    }

    > img {
      max-width: 100%;
    }

    > textarea#summary {
      width: 60%;
      min-height: 100px;
    }
    > textarea#markdown {
      width: 100%;
      min-height: 400px;
    }

  }



}