.articlelist {

  .header {

    #article-logo {
      max-width: 450px;
      margin: 0 auto;

      > img {
        width: 60%;

        @include minSize(md) {
          float: left;
          width: 150px;
          margin-bottom: 30px;
        }
      }

      > span {
        display: none;

        @include minSize(md) {
          display: block;
          font-size: 48px;
          margin: 30px;
          float: left;
        }
      }
    }

    p {
      clear: left;
    }
  }


  #list {

    .list-item {

      .avatar-title {

        > a {
          display: block;
        }
      }
      .avatar-subtitle {

        @include fontBlack(0.5);

        > .date {
          margin-left: 24px;

          @include atSize(sm) {
            float: right;
            margin-right: 16px;
          }
        }
      }


      > .content {
        margin-top: 16px;
        border-bottom: 1px #eee solid;
        line-height: 1.5;

        @include atSize(sm) {
          width: 100%;

          > .summary {
            max-height: 224px;
            overflow: hidden;
          }
        }

        @include minSize(md) {
          margin-left: 72px;
          padding-bottom: 36px;
        }

      }
      a.pic {
        display: block;
        max-height: 180px;
        margin-top: 24px;
        overflow: hidden;
        opacity: 0.8;

        @include minSize(md) {
          float: right;
          margin-top: 0;
          margin-right: 16px;
          max-width: 30%;
        }

        > img {
          width: 100%;
        }
      }

      .summary {
        font-size: 14px;
        line-height: 1.8;
        @include fontBlack(0.6);

        @include  atSize(sm) {
          margin: 16px;
          margin-bottom: 32px;
        }

        @include minSize(md) {
          height: 174px;
          overflow: hidden;
          width: 60%;
        }
      }
    }

  }

  #ranklist {

    > .subtitle {
      padding: 16px 32px;
      color: $purple-light;
      font-size: 18px;
    }

    .list {

      a {
        display: block;
        padding: 0 16px;
        height: 48px;
        line-height: 48px;
        overflow: hidden;
        border-top: 1px #f3f3f3 solid;
      }
    }
  }
}

.articleDetail {
  background-color: #ffffff;

  .header {

    .info > .date {
      margin-left: 24px;
    }

    .author {
      margin-top: 12px;
    }
  }

  .article {
    padding-top: 32px;
  }
}