@import 'colors.scss';


.card {
  margin: 8px;
  background-color: #ffffff;
  box-shadow: #999 0px 1px 6px;
  border-radius: 2px;

  .card-pic {
    width: 100%;
    height: 150px;
    background-color: #ddd;
    position: relative;
    color: #fff;

    > div {
      height: 100%;
      overflow: hidden;


      > img {
        width: 100%;
      }
    }

    > h3 {
      position: absolute;
      bottom: 0;
      margin: 0 16px;
      padding-bottom: 16px;
      font-size: 24px;
    }
  }

  .card-body {
    padding: 8px;

    .description {
      padding: 8px;
      height: 48px;
      overflow: hidden;
    }

    .card-bottom {
      color: $font-grey;
      font-size: 12px;
      padding: 8px;
    }
  }

  .avatar {
    padding-top: 24px;
    position: relative;

    .avatar-icon {
      float: left;
      //margin-top: 24px;
      margin-left: 16px;
      width: 40px;
      height: 40px;
      -webkit-border-radius: 100%;
      -moz-border-radius: 100%;
      border-radius: 100%;
      overflow: hidden;

      > img {
        width: 110%;
        height: 110%;
        margin: -5%;
      }
    }

    .avatar-title {
      //top: 24px;
      margin-left: 72px;
      margin-top: 0px;
      margin-bottom: 8px;
    }


    .avatar-subtitle {
      margin-left: 72px;
    }

  }
}