@import 'colors.scss';

#left-nav-button {
  width: 24px;
  height: 24px;
  padding: 16px;
  padding-right: 8px;
  float: left;

  &:hover {
    border: none;
  }

  .line {
    height: 2px;
    margin: 5px 0;
    background-color: #ffffff;
  }
}

#dark {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.5;
  visibility: hidden;
  z-index: 1500;
  transition: opacity 0.6s cubic-bezier(0, 0, 0.2, 1);
}
#left-nav {

  position: fixed;
  top: 0;
  left: -80%;
  transform: translate3d(0%, 0, 0);
  z-index: 2000;
  bottom: 0;
  background-color: #ffffff;
  width: 80%;
  //visibility: hidden;
  overflow-x: hidden;
  overflow-y: auto;
  transition: transform 0.4s cubic-bezier(0.22, 0.61, 0.36, 1);

  #left-nav-menu {
    position: relative;
    color: #333333;

    .logo {
      float: none;
      @include fontBlack(0.5)
    }
    .list {
      border-top: 1px solid #ccc;
      padding-top: 16px;
      a {
        padding-left: 16px;
        display: block;
        line-height: 48px;

        &.active {
          color: #a467a7;
          background-color: #eeeeee;
        }
      }
    }
  }

  .bottom {
    position: absolute;
    bottom: 24px;
    font-size: 12px;
    width: 100%;
    text-align: center;

    > a {
      margin: 0 20px;
    }
  }

  &.show {
    //left: 0 !important;
    transform: translate3d(100%, 0, 0);
  }
}
#dark.show,
#left-nav.show {
  visibility: visible;
}

.header {

  background-color: $purple-main;
  color: #ffffff;
  padding: 16px;

  > .container {

    h3 {
      margin-top: 0;
      margin-bottom: 24px;
      font-size: 24px;

      @include atSize(lg) {
        font-size: 36px;
        font-weight: 100;
      }
    }

    svg {
      display: block;
      margin: 0 auto;
      width: 100%;
      max-width: 450px;

      > image {
        display: block;
        width: 100%;
        height: 100%;
        max-width: 450px;
      }
    }

    img {
      display: block;
      margin: 0 auto;
      width: 100%;
      max-width: 450px;
    }

    p {
      font-size: 18px;

      @include minSize(md) {
        text-align: center;
      }
    }

    a,
    a:hover
    a:visited {
      color: #ffffff;
    }
  }

}


.card {
  display: block;
  margin: 8px;
  background-color: #ffffff;
  box-shadow: #999 0px 1px 6px;
  border-radius: 2px;

  .card-pic {
    width: 100%;
    height: 150px;
    background-color: #ddd;
    position: relative;
    color: #fff;

    > div {
      height: 100%;
      overflow: hidden;


      > img {
        width: 100%;
      }
    }

    > h3 {
      position: absolute;
      bottom: 0;
      margin: 0 16px;
      padding-bottom: 16px;
      font-size: 24px;
    }
  }

  .card-body {
    padding: 8px;

    .description {
      padding: 8px;
      height: 48px;
      overflow: hidden;
    }

    .card-bottom {
      color: $font-grey;
      font-size: 12px;
      padding: 8px;
    }
  }
}
a.card {
  color: #333;
  transition: box-shadow   0.6s cubic-bezier(0, 0, 0.2, 1);

  &:hover {
    box-shadow: #666 0px 1px 20px;
  }
}

.avatar {
  padding-top: 24px;
  position: relative;

  .avatar-icon {
    float: left;
    //margin-top: 24px;
    margin-left: 16px;
    width: 40px;
    height: 40px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    overflow: hidden;

    > img {
      width: 110%;
      height: 110%;
      margin: -5%;
    }
  }

  .avatar-title {
    //top: 24px;
    margin-left: 72px;
    margin-top: 0px;
    margin-bottom: 8px;
  }


  .avatar-subtitle {
    margin-left: 72px;
  }
}

.paper {
  display: table;
  padding-bottom: 16px;
  margin-top: 16px;

  .paper-name {
    position: relative;
    display: inline-block;
    height: 30px;
    overflow: hidden;
    line-height: 30px;
    margin-top: -12px;
    padding: 0 10px 0 42px;
    background-color: #eeeeee;
    border-radius: 15px;
  }

  .paper-avatar {
    position: relative;
    margin-top: -34px;
    width: 32px;
    height: 32px;
    overflow: hidden;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;

    > img {
      width: 110%;
      margin: -5%;
    }
  }
}


.article {
  font-size: 17px;
  line-height: 1.88;
  padding: 16px;
  @include fontBlack(0.7);

  * {
    margin: 0;
  }

  @include atSize(lg) {
    padding: 16px 60px;
  }

  h1 {
    line-height: 40px;
  }
  h2 {
    font-weight: 500;
    font-size: 22px;
    margin-top: 24px;
  }

  h3 {
    font-weight: 700;
    font-size: 17px;
  }

  p {
    margin: 0;
    font-size: 17px;
    padding-bottom: 24px;

    img {
      max-width: 100%;
      margin: 0 auto;
      display: block;
    }
  }

  a {
    color: #2A7CCC;;
  }

  li {
    line-height: 1.5;
    padding-bottom: 14px;
  }
}