@import 'colors.scss';
@import 'mixins.scss';



@each $size in $sizes {
  $selectorList: ();
  @for $i from 1 through 12 {
    $selectorList: append($selectorList, unquote('.col-#{$size}-#{$i}'), 'comma');
  }
  #{$selectorList} {
    float: left;
    width: 100%;
  }
}

@each $size in $sizes {
  @include minSize($size) {
    @for $i from 1 through 12 {
      .col-#{$size}-#{$i} {
        width: $i / 12 * 100%;
      }
    }
  }
}

@each $size in $sizes {
  .hide-#{$size} {
    @include atSize($size) {
      display: none;
    }
  }

  .visible-#{$size} {
    display: none;
    @include atSize($size) {
      display: block;
    }
  }
}

body {
  padding: 0;
  margin: 0;
  color: #333;
  font: {
    size: 14px;
    family: 'Microsoft Yahei', sans-serif;;
  }
  background-color: #f3f3f3;
  
  #main {

    padding-bottom: 40px;
  }
}


a {
  text-decoration: none;
  color: #333;

  &:hover {
    color: $purple-light;
  }

  &:visited {
    color: #333;
  }

  &.list-item {
    display: block;
    color: #333333;
  }
}


.container {
  //width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
.container-small {
  max-width: 900px;
}

.title-background {
  //background-color: $purple-main;
  //color: #ffffff;
  //padding: 16px;
  //
  //> .container {
  //
  //  img {
  //    display: block;
  //    margin: 0 auto;
  //  }
  //
  //  p {
  //    font-size: 24px;
  //
  //    @include minSize(md) {
  //      text-align: center;
  //    }
  //  }
  //}
}

.row {
  width: 100%;
  display: table;
}



nav {
  width: 100%;
  height: 64px;
  position: fixed;
  z-index: 2000;
  background-color: $purple-main;
  color: #ffffff;
  //box-shadow: #333 0 1px 4px;

  a,
  a:hover,
  a:visited {
    color: #ffffff;
  }

  a:hover {
    border-bottom: 3px solid #ffffff;
  }

  .logo {
    float: left;
    width: 150px;
    font-size: 24px;
    line-height: 64px;
  }

  .tab-items {
    float: right;
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 64px;

    > li {
      float: left;
      list-style: none;
      display: block;

      a {
        margin: 0 12px;
        padding: 0 10px 19px 10px;
      }

      > a.active {
        border-bottom: 3px solid #ffffff;
      }
    }
  }
}

footer {
  width: 100%;
  height: 150px;
  position: relative;
  color: #ffffff;
  text-align: center;
  font-size: 12px;
  background-color: #333333;

  a,
  a:hover,
  a:visited {
    color: #ffffff;
  }

  a {
    margin: 0 30px;
  }

  > div {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 50%;
    height: 66%;
    margin: auto;

    > div {
      margin: 10px 0;
    }
  }
}

.right {
  display: block;
  float: right;
}

