.memberlist {
  background-color: #ffffff;

  .header {
    .container > img {
      width: 80%;
      max-height: 150px;;
    }
  }

  .subtitle {
    color: $purple-light;
    margin-top: 24px;
    margin-left: 16px;

    @include atSize(lg) {
      font-size: 24px;
    }
  }

  a.list-item {
    //display: block;
    //color: #333333;

    @include atSize(lg) {
      margin-left: 20%;
    }

    .avatar {

      .avatar-subtitle {
        border-bottom: 1px #e3e3e3 solid;
        padding-bottom: 16px;

        .motto {
          margin-left: 8px;
          @include fontBlack(0.5);
        }
      }

      @include atSize(lg) {
        &.big {
          .avatar-icon {
            width: 72px;
            height: 72px;
          }

          .avatar-title {
            margin-left: 110px;
            margin-top: 4px;
            font-size: 24px;
            font-weight: 100;
          }

          .avatar-subtitle {
            margin-left: 110px;
            padding-bottom: 40px;
          }
        }
      }
    }

    .list-item:last-child .avatar-subtitle {
      border-bottom: none;
    }
  }
}

.memberDetail {
  background-color: #ffffff;

  .container-small {
    max-width: 900px;
    margin-top: 32px;

    > .row {
      position: relative;

      width: 95%;
      padding-left: 5%;

      @include atSize(lg) {
        width: 100%;
        padding-left: 0;
      }
    }
  }

  .group-avatar {

    @include atSize(sm) {
      //padding-left: 24px;
    }

    @include atSize(lg) {
      left: 8 / 12 * 100%;
      position: relative;
    }

    #avatar {
      width: 40px;
      height: 40px;
      float: left;
      -webkit-border-radius: 100%;
      -moz-border-radius: 100%;
      border-radius: 100%;
      overflow: hidden;

      @include atSize(lg) {

        width: 72px;
        height: 72px;
        float: none;
        margin: 40px auto;
      }

      > img {
        width: 100%;
        margin: 0%;
      }
    }

    #motto {
      margin-left: 64px;
      margin-right: 16px;

      @include atSize(lg) {
        margin-left: 16px;
      }
    }
  }

  .group-info {
    margin-top: 32px;

    @include atSize(lg) {
      right: 4 / 12 * 100%;
      position: relative;
    }

    .list-item {
      height: 72px;

      .text {
        display: inline-block;
        position: relative;
        top: -28px;
        left: 65px;

        ul {
          padding-left: 12px;
          margin: 0;

          li {
            list-style-type: circle;
            margin-bottom: 8px;
          }
        }
      }

      a,
      a:visited{
        color: #333333;
      }
      a:hover {
        color: $purple-light;
      }
    }
  }
}