.defaultPage {
  #bg {
    @include minSize(md) {
      background-color: $purple-main;
      height: 100px;
    }
  }

  #pg {
    padding: 8px;
    background-color: #ffffff;
    @include minSize(md) {
      margin-top: -50px;
    }
  }
}