footer
  div
    div
      a(href='/lib/contact-us') #{lang.footer.contact_us}
      a(href='/lib/lang') #{lang.footer.language}
    div Copyright &copy; 2013-2015 &nbsp; &nbsp; XC · SOFT
    div 合肥工业大学（宣城校区）软件工程创新实验室
    div
      a(href="https://github.com/hfut-xcsoft" _target="blank")
        img(src='/assets/pic/GitHub-Mark-Light-32px.png')