footer
  div
    div
      a(href='#') #{lang.footer.join_us}
      a(href='lang') #{lang.footer.language}
    div Copyright &copy; 2013-2015 XCSOFT
    div
      img(src='assets/pic/GitHub-Mark-Light-32px.png')