nav
  .container
    .logo XC · SOFT
    ul.tab-items
      li: a(href='#', class={active: tab == 0 }) #{lang.tab.articles}
      li: a(href='#', class={active: tab == 1 }) #{lang.tab.projects}
      li: a(href='#', class={active: tab == 2 }) #{lang.tab.members}