extends ../layout
block main
  div#admin-main
    form(method="post")
      .form-group
        span 文章标题
        input(name="title")
      .form-group
        span 英文标题（作为URL标识文章，为带空格的单词或句子）
        input(name="title_short")
      .form-group
        if user.user_type == 'admin'
          span 作者
            select(name="author")
              each member in memberList
                option(value="#{member._id}") #{member.username}
        else
          input(name="author", value="#{user._id}", style="display: none")
      .form-group
        span 标签
        input(name="tag")
      .form-group
        span 引用网站名(非引用不填)
        input(name="quote[name]")
      .form-group
        span 引用页面URL(非引用不填)
        input(name="quote[url]")
      .form-group
        span 摘要
        textarea(name="summary", id="summary")
      .form-group
        span 图片
        input.hide(name="picture")
        button(id="picture_upload") 上传图片
      .form-group
        span 文章内容（请使用MarkDown语法）
        button(id="mark_upload") 插入图片
        textarea(name="content[source]", id="markdown")
        input(type="button", value="预览", id="preview")
      .form-group
        input(type="submit")
      .article(style="background-color: #fff; width: 800px")
block jsCode

  script(src="/assets/js/SimpleAjaxUploader.min.js")
  script(src="/assets/js/admin.js")
  script.
    $(function () {

      $('#preview').click(function () {
        var content = $('textarea[name="content[source]"]').val();
        $.post('/lib/admin/article/preview', {content: content},function (data) {
          $('.article').html(data);
        })
      })

      var uploader = new ss.SimpleUpload({
        button: 'picture_upload',
        url: '/file_upload.php?app=lib',
        name: 'imgFile',
        responseType: 'json',
        allowedExtensions: ['jpg', 'jpeg', 'png', 'gif', 'svg'],
        encodeCustomHeaders: true,
        maxSize: 2048, // kilobytes
        onComplete: function (filename, response) {
          if (!response) {
            alert(filename + 'upload failed');
            return false;
          }
          if (!response.success) {
            alert('上传失败! ' + response.msg);
            return false;
          }
          $('input[name="picture"]').attr('value', response.url);
          $('#img_pic').attr('src', response.url);
        }
      });
    })