extends ../layout
block main
  #admin-main
    if user.user_type == 'admin'
      a(href="/lib/admin/project/new") 添加项目
    table
      thead
        th 项目名
        if user.user_type == 'admin'
          th 操作
      tbody
        each project in projectList
          tr
            td: a(href="/lib/admin/project/#{project.name_short}") #{project.name}
            if user.user_type == 'admin'
              td: a(href="/lib/admin/project/toggle/#{project.name_short}") #{project.status == 1 ? '删除' : '恢复'}