.col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
  float: left;
  width: 100%;
}

.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
  float: left;
  width: 100%;
}

.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
  float: left;
  width: 100%;
}

@media (min-width: 0px) {
  .col-sm-1 {
    width: 8.33333%;
  }
  .col-sm-2 {
    width: 16.66667%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-4 {
    width: 33.33333%;
  }
  .col-sm-5 {
    width: 41.66667%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-7 {
    width: 58.33333%;
  }
  .col-sm-8 {
    width: 66.66667%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-10 {
    width: 83.33333%;
  }
  .col-sm-11 {
    width: 91.66667%;
  }
  .col-sm-12 {
    width: 100%;
  }
}

@media (min-width: 480px) {
  .col-md-1 {
    width: 8.33333%;
  }
  .col-md-2 {
    width: 16.66667%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.33333%;
  }
  .col-md-5 {
    width: 41.66667%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58.33333%;
  }
  .col-md-8 {
    width: 66.66667%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-10 {
    width: 83.33333%;
  }
  .col-md-11 {
    width: 91.66667%;
  }
  .col-md-12 {
    width: 100%;
  }
}

@media (min-width: 900px) {
  .col-lg-1 {
    width: 8.33333%;
  }
  .col-lg-2 {
    width: 16.66667%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: 33.33333%;
  }
  .col-lg-5 {
    width: 41.66667%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-7 {
    width: 58.33333%;
  }
  .col-lg-8 {
    width: 66.66667%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-10 {
    width: 83.33333%;
  }
  .col-lg-11 {
    width: 91.66667%;
  }
  .col-lg-12 {
    width: 100%;
  }
}

@media (max-width: 479px) {
  .hide-sm {
    display: none;
  }
}

.visible-sm {
  display: none;
}

@media (max-width: 479px) {
  .visible-sm {
    display: block;
  }
}

@media (min-width: 480px) and (max-width: 899px) {
  .hide-md {
    display: none;
  }
}

.visible-md {
  display: none;
}

@media (min-width: 480px) and (max-width: 899px) {
  .visible-md {
    display: block;
  }
}

@media (min-width: 900px) {
  .hide-lg {
    display: none;
  }
}

.visible-lg {
  display: none;
}

@media (min-width: 900px) {
  .visible-lg {
    display: block;
  }
}

body {
  padding: 0;
  margin: 0;
  color: #333;
  font-size: 14px;
  font-family: 'Microsoft Yahei', sans-serif;
  background-color: #f3f3f3;
}

body #main {
  padding-top: 56px;
}

@media (min-width: 480px) {
  body #main {
    padding-top: 64px;
  }
}

@media (min-width: 900px) {
  body #main {
    padding-bottom: 40px;
    min-height: 720px;
  }
}

a {
  text-decoration: none;
  color: #333;
}

a:hover {
  color: #a467a7;
}

a.list-item {
  display: block;
  color: #333333;
}

a img {
  border: 0px;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.container-small {
  max-width: 900px;
}

.row {
  width: 100%;
  display: table;
}

nav {
  width: 100%;
  height: 64px;
  position: absolute;
  z-index: 2000;
  background-color: #8f4898;
  color: #ffffff;
}

@media (max-width: 479px) {
  nav {
    height: 56px;
  }
}

nav .container a,
nav .container a:hover,
nav .container a:visited {
  color: #ffffff;
}

nav .logo {
  float: left;
  width: 150px;
  margin-left: 16px;
  font-size: 24px;
  line-height: 64px;
}

@media (max-width: 479px) {
  nav .logo {
    line-height: 60px;
  }
}

nav .tab-items {
  float: right;
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 64px;
}

nav .tab-items > li {
  float: left;
  list-style: none;
  display: block;
}

nav .tab-items > li a {
  margin: 0 12px;
  padding: 0 10px 19px 10px;
}

nav .tab-items > li a.active, nav .tab-items > li a:hover {
  border-bottom: 3px solid #ffffff;
}

footer {
  width: 100%;
  height: 180px;
  position: relative;
  color: #ffffff;
  text-align: center;
  font-size: 12px;
  background-color: #333333;
}

footer a,
footer a:hover,
footer a:visited {
  color: #ffffff;
}

footer a {
  margin: 0 30px;
}

footer > div {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 90%;
  height: 66%;
  margin: auto;
}

footer > div > div {
  margin: 10px 0;
}

.right {
  display: block;
  float: right;
}

#left-nav-button {
  width: 24px;
  height: 24px;
  padding: 16px;
  padding-right: 8px;
  float: left;
}

#left-nav-button:hover {
  border: none;
}

#left-nav-button .line {
  height: 2px;
  margin: 5px 0;
  background-color: #ffffff;
}

#dark {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0;
  visibility: hidden;
  z-index: 1500;
  -webkit-transition: opacity 1s cubic-bezier(0, 0, 0.2, 1);
  -moz-transition: opacity 1s cubic-bezier(0, 0, 0.2, 1);
  -ms-transition: opacity 1s cubic-bezier(0, 0, 0.2, 1);
  -o-transition: opacity 1s cubic-bezier(0, 0, 0.2, 1);
  transition: opacity 1s cubic-bezier(0, 0, 0.2, 1);
}

#left-nav {
  position: fixed;
  top: 0;
  left: -80%;
  z-index: 2000;
  bottom: 0;
  background-color: #ffffff;
  width: 80%;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-transform: translate3d(0%, 0, 0);
  -moz-transform: translate3d(0%, 0, 0);
  -ms-transform: translate3d(0%, 0, 0);
  -o-transform: translate3d(0%, 0, 0);
  transform: translate3d(0%, 0, 0);
  -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.22, 0.61, 0.36, 1);
  -moz-transition: -moz-transform 0.4s cubic-bezier(0.22, 0.61, 0.36, 1);
  -ms-transition: -ms-transform 0.4s cubic-bezier(0.22, 0.61, 0.36, 1);
  -o-transition: -o-transform 0.4s cubic-bezier(0.22, 0.61, 0.36, 1);
  transition: transform 0.4s cubic-bezier(0.22, 0.61, 0.36, 1);
}

#left-nav #left-nav-menu {
  position: relative;
  color: #333333;
}

#left-nav #left-nav-menu .logo {
  float: none;
  color: rgba(0, 0, 0, 0.5);
}

#left-nav #left-nav-menu .list {
  border-top: 1px solid #ccc;
  padding-top: 16px;
}

#left-nav #left-nav-menu .list a {
  padding-left: 16px;
  display: block;
  line-height: 48px;
}

#left-nav #left-nav-menu .list a.active {
  color: #a467a7;
  background-color: #eeeeee;
}

#left-nav .bottom {
  position: absolute;
  bottom: 24px;
  font-size: 12px;
  width: 100%;
  text-align: center;
}

#left-nav .bottom > a {
  margin: 0 20px;
}

#left-nav.show {
  -webkit-transform: translate3d(100%, 0, 0);
  -moz-transform: translate3d(100%, 0, 0);
  -ms-transform: translate3d(100%, 0, 0);
  -o-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
}

#dark.show {
  opacity: 0.5;
  visibility: visible;
}

.header {
  background-color: #8f4898;
  color: #ffffff;
  padding: 16px;
}

.header > .container h3 {
  margin-top: 0;
  margin-bottom: 24px;
  font-size: 24px;
}

@media (min-width: 900px) {
  .header > .container h3 {
    font-size: 36px;
    font-weight: 100;
  }
}

.header > .container svg {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 450px;
}

.header > .container svg > image {
  display: block;
  width: 100%;
  height: 100%;
  max-width: 450px;
}

.header > .container img {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 450px;
}

.header > .container p {
  font-size: 18px;
}

@media (min-width: 480px) {
  .header > .container p {
    text-align: center;
  }
}

.header > .container a,
.header > .container a:hover
a:visited {
  color: #ffffff;
}

.card {
  display: block;
  margin: 8px;
  background-color: #ffffff;
  box-shadow: #999 0px 1px 6px;
  border-radius: 2px;
}

.card .card-pic {
  width: 100%;
  height: 150px;
  background-color: #ddd;
  position: relative;
  color: #fff;
}

.card .card-pic > div {
  height: 100%;
  overflow: hidden;
}

.card .card-pic > div > img {
  width: 100%;
}

.card .card-pic > h3 {
  position: absolute;
  bottom: 0;
  margin: 0 16px;
  padding-bottom: 16px;
  font-size: 24px;
}

.card .card-body {
  padding: 8px;
}

.card .card-body .description {
  padding: 8px;
  height: 48px;
  overflow: hidden;
}

.card .card-body .card-bottom {
  color: #757575;
  font-size: 12px;
  padding: 8px;
}

a.card {
  color: #333;
  transition: box-shadow 0.6s cubic-bezier(0, 0, 0.2, 1);
}

a.card:hover {
  box-shadow: #666 0px 1px 20px;
}

.avatar {
  padding-top: 24px;
  position: relative;
}

.avatar .avatar-icon {
  float: left;
  margin-left: 16px;
  width: 40px;
  height: 40px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  overflow: hidden;
}

.avatar .avatar-icon > img {
  width: 100%;
  height: 100%;
  margin: 0;
}

.avatar .avatar-title {
  margin-left: 72px;
  margin-top: 0px;
  margin-bottom: 8px;
}

.avatar .avatar-subtitle {
  margin-left: 72px;
}

.paper {
  display: table;
  padding-bottom: 16px;
  margin-top: 16px;
}

.paper .paper-name {
  position: relative;
  display: inline-block;
  height: 30px;
  overflow: hidden;
  line-height: 30px;
  margin-top: -12px;
  padding: 0 10px 0 42px;
  background-color: #eeeeee;
  border-radius: 15px;
}

.paper .paper-avatar {
  position: relative;
  margin-top: -34px;
  width: 32px;
  height: 32px;
  overflow: hidden;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
}

.paper .paper-avatar > img {
  width: 110%;
  margin: -5%;
}

.article {
  font-size: 17px;
  line-height: 1.88;
  padding: 16px;
  color: rgba(0, 0, 0, 0.7);
}

.article * {
  margin: 0;
}

@media (min-width: 900px) {
  .article {
    padding: 16px 60px;
  }
}

.article h1 {
  line-height: 40px;
}

.article h2 {
  font-weight: 500;
  font-size: 22px;
  margin-top: 24px;
}

.article h3 {
  font-weight: 700;
  font-size: 17px;
}

.article p {
  margin: 0;
  font-size: 17px;
  padding: 12px 0;
}

.article p img {
  max-width: 100%;
  margin: 0 auto;
  display: block;
}

.article a {
  color: #2A7CCC;
  word-break: break-all;
}

.article li {
  line-height: 1.5;
  padding-bottom: 14px;
}

.article pre > code {
  font-size: 14px;
  border-radius: 16px;
  padding: 16px;
  line-height: 1.5;
}

.icon {
  display: block;
  background-size: 80px 160px;
  width: 40px;
  height: 40px;
  background-image: url(../pic/info-icon.png);
  background-image: url(../pic/info-icon.svg), none;
}

.icon-username {
  background-position: 0 0;
}

.icon-realname {
  background-position: 40px 0;
}

.icon-github {
  background-position: 0 -40px;
}

.icon-project {
  background-position: 40px -40px;
}

.icon-email {
  background-position: 0 -80px;
}

.icon-phone {
  background-position: 40px -80px;
}

.icon-blog {
  background-position: 0 -120px;
}

@media (min-width: 480px) {
  .defaultPage #bg {
    background-color: #8f4898;
    height: 100px;
  }
}

.defaultPage #pg {
  padding: 8px;
  background-color: #ffffff;
}

@media (min-width: 480px) {
  .defaultPage #pg {
    margin-top: -50px;
  }
}

.projectList .header > .container > svg,
.projectList .header > .container > img {
  max-width: 550px;
  max-height: 150px;
}

.part-title {
  font-size: 16px;
  margin-left: 14px;
  font-weight: normal;
  color: #a467a7;
}

@media (min-width: 480px) {
  .part-title {
    font-size: 24px;
  }
}

@media (min-width: 480px) {
  .projectDetail .card {
    padding: 16px;
  }
}

.projectDetail .card .info {
  padding: 24px 0 32px 16px;
}

@media (min-width: 900px) {
  .projectDetail .card .info {
    padding-left: 48px;
  }
}

.projectDetail #pic {
  width: 100%;
  overflow: hidden;
}

.projectDetail #pic > img {
  width: 100%;
}

.projectDetail .value ul {
  padding: 0;
  margin: 0;
  margin-bottom: 24px;
}

.projectDetail .value ul > li {
  list-style: none;
}

.projectDetail .value ul.style > li {
  list-style: circle;
  margin-left: 24px;
  margin-bottom: 8px;
}

.projectDetail .article p {
  padding-bottom: 12px;
}

.articlelist .header #article-logo {
  max-width: 450px;
  margin: 0 auto;
}

.articlelist .header #article-logo > svg,
.articlelist .header #article-logo > img {
  width: 60%;
}

@media (min-width: 480px) {
  .articlelist .header #article-logo > svg,
  .articlelist .header #article-logo > img {
    float: left;
    width: 150px;
    margin-bottom: 30px;
  }
}

.articlelist .header #article-logo > span {
  display: none;
}

@media (min-width: 480px) {
  .articlelist .header #article-logo > span {
    display: block;
    font-size: 48px;
    margin: 30px;
    float: left;
  }
}

.articlelist .header p {
  clear: left;
}

.articlelist #list .list-item .avatar-title > a {
  display: block;
  font-weight: normal;
}

.articlelist #list .list-item .avatar-subtitle {
  color: rgba(0, 0, 0, 0.5);
}

.articlelist #list .list-item .avatar-subtitle > .date {
  margin-left: 24px;
}

@media (max-width: 479px) {
  .articlelist #list .list-item .avatar-subtitle > .date {
    float: right;
    margin-right: 16px;
  }
}

.articlelist #list .list-item > .content {
  margin-top: 16px;
  border-bottom: 1px #eee solid;
  line-height: 1.5;
}

@media (max-width: 479px) {
  .articlelist #list .list-item > .content {
    width: 100%;
  }
  .articlelist #list .list-item > .content > .summary {
    max-height: 224px;
    overflow: hidden;
  }
}

@media (min-width: 480px) {
  .articlelist #list .list-item > .content {
    margin-left: 72px;
    padding-bottom: 36px;
  }
}

.articlelist #list .list-item a.pic {
  display: block;
  max-height: 180px;
  margin-top: 24px;
  overflow: hidden;
  opacity: 0.8;
}

@media (min-width: 480px) {
  .articlelist #list .list-item a.pic {
    float: right;
    margin-top: 0;
    margin-right: 16px;
    max-width: 30%;
  }
}

.articlelist #list .list-item a.pic > img {
  width: 100%;
}

.articlelist #list .list-item .summary {
  font-size: 14px;
  line-height: 1.8;
  color: rgba(0, 0, 0, 0.6);
}

@media (max-width: 479px) {
  .articlelist #list .list-item .summary {
    margin: 16px;
    margin-bottom: 32px;
  }
}

@media (min-width: 480px) {
  .articlelist #list .list-item .summary {
    height: 174px;
    overflow: hidden;
    width: 60%;
  }
}

.articlelist #ranklist > .subtitle {
  padding: 16px 32px;
  color: #a467a7;
  font-size: 18px;
}

.articlelist #ranklist .list a {
  display: block;
  padding: 0 16px;
  height: 48px;
  line-height: 48px;
  overflow: hidden;
  border-top: 1px #f3f3f3 solid;
}

.articleDetail {
  background-color: #ffffff;
}

.articleDetail .header .container {
  max-width: 1168px;
}

.articleDetail .header .container span {
  margin-left: 24px;
}

.articleDetail .header .container span:first-child {
  margin-left: 0;
}

.articleDetail .header .author {
  margin-top: 12px;
}

.articleDetail .article {
  padding-top: 32px;
}

.memberlist {
  background-color: #ffffff;
}

.memberlist .header .container > img {
  width: 80%;
  max-height: 150px;
}

.memberlist .subtitle {
  color: #a467a7;
  margin-top: 24px;
  margin-left: 16px;
}

@media (min-width: 900px) {
  .memberlist .subtitle {
    font-size: 24px;
  }
}

@media (min-width: 900px) {
  .memberlist a.list-item {
    margin-left: 20%;
  }
}

.memberlist a.list-item .avatar .avatar-subtitle {
  border-bottom: 1px #e3e3e3 solid;
  padding-bottom: 16px;
}

.memberlist a.list-item .avatar .avatar-subtitle .motto {
  margin-left: 8px;
  color: rgba(0, 0, 0, 0.5);
}

@media (min-width: 900px) {
  .memberlist a.list-item .avatar.big .avatar-icon {
    width: 72px;
    height: 72px;
  }
  .memberlist a.list-item .avatar.big .avatar-title {
    margin-left: 110px;
    margin-top: 4px;
    font-size: 24px;
    font-weight: 100;
  }
  .memberlist a.list-item .avatar.big .avatar-subtitle {
    margin-left: 110px;
    padding-bottom: 40px;
  }
}

.memberlist a.list-item .list-item:last-child .avatar-subtitle {
  border-bottom: none;
}

.memberDetail {
  background-color: #ffffff;
}

.memberDetail .container-small {
  max-width: 900px;
  margin-top: 32px;
}

.memberDetail .container-small > .row {
  position: relative;
  width: 95%;
  padding-left: 5%;
}

@media (min-width: 900px) {
  .memberDetail .container-small > .row {
    width: 100%;
    padding-left: 0;
  }
}

@media (min-width: 900px) {
  .memberDetail .group-avatar {
    left: 66.66667%;
    position: relative;
  }
}

.memberDetail .group-avatar #avatar {
  width: 40px;
  height: 40px;
  float: left;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  overflow: hidden;
}

@media (min-width: 900px) {
  .memberDetail .group-avatar #avatar {
    width: 72px;
    height: 72px;
    float: none;
    margin: 40px auto;
  }
}

.memberDetail .group-avatar #avatar > img {
  width: 100%;
  margin: 0%;
}

.memberDetail .group-avatar #motto {
  margin-left: 64px;
  margin-right: 16px;
}

@media (min-width: 900px) {
  .memberDetail .group-avatar #motto {
    margin-left: 16px;
  }
}

.memberDetail .group-info {
  margin-top: 32px;
}

@media (min-width: 900px) {
  .memberDetail .group-info {
    right: 33.33333%;
    position: relative;
  }
}

.memberDetail .group-info .list-item {
  height: 72px;
}

.memberDetail .group-info .list-item .text {
  display: inline-block;
  position: relative;
  top: -28px;
  left: 65px;
}

.memberDetail .group-info .list-item .text ul {
  padding-left: 12px;
  margin: 0;
}

.memberDetail .group-info .list-item .text ul li {
  list-style-type: circle;
  margin-bottom: 8px;
}

.memberDetail .group-info .list-item a,
.memberDetail .group-info .list-item a:visited {
  color: #333333;
}

.memberDetail .group-info .list-item a:hover {
  color: #a467a7;
}

#admin-main {
  margin: 32px auto;
  max-width: 760px;
}

#admin-main .hide {
  display: none;
}

#admin-main .form-group > span:first-child {
  display: block;
}

#admin-main .form-group > img {
  max-width: 100%;
}

#admin-main .form-group > textarea#summary {
  width: 60%;
  min-height: 100px;
}

#admin-main .form-group > textarea#markdown {
  width: 100%;
  min-height: 400px;
}
