extends ../layout

block main
  #main.articlelist
    .header
      .container
        #article-logo
          img(src="assets/pic/article.svg")
          span ARTICLE
        p #{lang.article.header_text}
    .container
      .row
        .col-lg-9
          .card#list
            .list-item
              div.avatar
                .avatar-icon
                  img(src="assets/pic/avatar.jpg")
                h3.avatar-title
                  a(href="article/evolving-the-Google-identity") Evolving the Google identity
                .avatar-subtitle
                  span.author Case Study
                  span.date May 16
              .content
                a.pic(href="article/evolving-the-Google-identity")
                  img(src="assets/pic/components-lists-6_large_mdpi.png")
                .summary Google is not a conventional company. Our mission—to take the world’s information and make it universally accessible and useful—continues to evolve. Last year we introduced Material Design to help designers and developers embrace an expanding, multi-device, multi-screen world. With those considerations in mind, we are excited to share a new brand identity that aims to make Google more accessible and useful to our users—wherever they may encounter it.
            .list-item
              div.avatar
                .avatar-icon
                  img(src="assets/pic/avatar.jpg")
                h3.avatar-title
                  a(href="article/evolving-the-Google-identity") Evolving the Google identity
                .avatar-subtitle
                  span.author Case Study
                  span.date May 16
              .content
                a.pic(href="article/evolving-the-Google-identity")
                  img(src="assets/pic/components-lists-6_large_mdpi.png")
                .summary Google is not a conventional company. Our mission—to take the world’s information and make it universally accessible and useful—continues to evolve. Last year we introduced Material Design to help designers and developers embrace an expanding, multi-device, multi-screen world. With those considerations in mind, we are excited to share a new brand identity that aims to make Google more accessible and useful to our users—wherever they may encounter it.
            .list-item
              div.avatar
                .avatar-icon
                  img(src="assets/pic/avatar.jpg")
                h3.avatar-title
                    a(href="article/evolving-the-Google-identity") Evolving the Google identity
                .avatar-subtitle
                  span.author Case Study
                  span.date May 16
              .content
                a.pic(href="article/evolving-the-Google-identity")
                  img(src="assets/pic/components-lists-6_large_mdpi.png")
                .summary Google is not a conventional company. Our mission—to take the world’s information and make it universally accessible and useful—continues to evolve. Last year we introduced Material Design to help designers and developers embrace an expanding, multi-device, multi-screen world. With those considerations in mind, we are excited to share a new brand identity that aims to make Google more accessible and useful to our users—wherever they may encounter it.
        .col-lg-3
          .card#ranklist
            .subtitle #{lang.article.rank_list}
            .list
              a(href="article/evolving-the-google-identity") Evolving the Google identity Evolving the Google identity
              a(href="article/evolving-the-google-identity") Evolving the Google identity
              a(href="article/evolving-the-google-identity") Evolving the Google identity

block jsCode
  script.

    var width = $(window).width();
    $(function () {
      resize();
    })
    $(window).resize(function () {
      width = $(window).width();
        resize();
    });

    function resize() {

      var picWidth;
      if (width > 480) {
        picWidth = $('.content').width() * 0.3;
      } else {
        picWidth = $('.content').width();
      }
      $('#list .pic').css('max-height', picWidth * 9 / 16 + 'px');
    };

