extends ../layout

block main
  #main.defaultPage
    #bg
    .container
      .row
        .col-lg-8
          .card#pg
            .article
              | !{lang.contact_us.content}
            //  h1 Contact Us
              p 身为工大学子的你，如果对软件开发或是产品设计有兴趣，欢迎向我们投递简历。
              h2 联系方式
              h3 邮箱
              p hfut_xcsoft@163.com
              h3 地点
              p 综合实验楼一 403

