extends ../layout
block main
  #main.memberlist
    .header
      .container
        img(src="assets/pic/member.svg")
        p We work and develop together, enjoy ourselves.
    .container
      .subtitle Core Members
      .row
        .col-lg-9.list
          a.list-item(href="member/john-chafee")
            .avatar.big
              .avatar-icon
                img(src="assets/pic/avatar.jpg")
              h3.avatar-title John Chafee
              .avatar-subtitle
                span.habbit Like design and coding
                span.motto — We must be knowledgeable to everything because we are living in a competitive world.
          a.list-item(href="member/john-chafee")
            .avatar.big
              .avatar-icon
                img(src="assets/pic/avatar.jpg")
              h3.avatar-title John Chafee
              .avatar-subtitle
                span.habbit Like design and coding
                span.motto — We must be knowledgeable to everything because we are living in a competitive world.
      .subtitle Common Members
      .row
        .col-lg-9.list
          a.list-item(href="member/john-chafee")
            .avatar.big
              .avatar-icon
                img(src="assets/pic/avatar.jpg")
              h3.avatar-title John Chafee
              .avatar-subtitle
                span.habbit Like design and coding
                span.motto — We must be knowledgeable to everything because we are living in a competitive world.
          a.list-item(href="member/john-chafee")
            .avatar.big
              .avatar-icon
                img(src="assets/pic/avatar.jpg")
              h3.avatar-title John Chafee
              .avatar-subtitle
                span.habbit Like design and coding
                span.motto — We must be knowledgeable to everything because we are living in a competitive world.