form(method='post')
  div
    span ProjectName
    input(name='projectName')
  div
    span Description
    input(name='description')
  div
    span PictureUrl
    input(name='picture')
  div
    input(type='submit', value='提交')