extends layout

block main
    if isEmpty
        div 创建网站管理员账户
        form(method="post")
          .form-group
            span 用户名（英文):
            input(name="username")
          .form-group
            span 密码:
            input(name="password", type="password")
          .form-group
            input(type="submit")
    else
        form(method="post")
            .form-group
              span 用户名
              input(name="username")
            .form-group
              span 密码
              input(name="password", type="password")
            .form-group
              input(type="submit")