extends layout

block main
  form(method="post")
    .form-group
      span 用户名
      input(name="username")
    .form-group
      span 密码
      input(name="password", type="password")
    .form-group
      input(type="submit")